<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5693387192225124"
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&display=swap"
  rel="stylesheet">
<link rel="preload" as="style" crossorigin href="https://fontsapi.zeoseven.com/83/main/result.css"
  onload="this.rel='stylesheet'" onerror="this.href='https://fontsapi-storage.zeoseven.com/83/main/result.css'" />
<style>
  :root {
    /* --article-font-family: "Chill Round Gothic", var(--base-font-family); */
    --article-font-family: "Noto Serif SC", var(--base-font-family);
    font-weight: 500;
  }
</style>

<!-- fix bilibili referrer image policy -->
<meta name="referrer" content="no-referrer">
